/* STYLING FOR INDEX.HTML, DUFFYCOMMUNION PHOTOS.HTML, FIVESONS.HTML, GALLERY1GAGI.HTML, GALLERY1GAGIII.HTML, GALLERY2GAG1.HTML, GALLERY2GAGIII.HTML, SKETCHES.HTML, SONGSGAGIV.HTML AND SUNGHEE2023.HTML */

/* styling for index.html */

#IDAA {   
    width: 100%;
    text-align: center;
}

/* styling for gallery pages */

.font, .fontGAG, .fontModal22 { 
    font-family: 'Merriweather', var(--bs-body-font-family);
}


@media screen and (max-width: 500px) {
  .fontModal22 {
     font-size: 75%;
  }
}

@media screen and (min-width: 501px) and (max-width: 991px) { 
  .fontModal22 {
    font-size: 85%;
 }
}

@media screen and (max-width: 991px) {
    .font {
       font-size: 90%;
    }
    .fontGAG {
        font-size: 1rem;
    }
 }
 
 @media screen and (min-width: 992px) {
    .font, .fontModal22 {
       font-size: 100%;
    }
    .fontGAG {
        font-size: 1.25rem;
    }
 }

a img:hover {
  cursor: -webkit-grab; 
  cursor: grab;  
}

 .classAA, .classBB {
    display: inline;   
}

@media screen and (max-width: 575px) {
    .classAA, .classBB  {
        display: none;
    }
 }

.classBB {
    float: right;
}

/* styling for navbar */

.navbar {
	background: #FF7034;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;   
}

.dropdown-menu {
	border: 2px solid #ccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background: linear-gradient(#00FFFF, #ccfff2);
	background: -moz-linear-gradient(#00FFFF, #ccfff2);
	background: -webkit-linear-gradient(#00FFFF, #ccfff2);
	background: -o-linear-gradient(#00FFFF, #ccfff2);
}

.dropdown-item:hover {
	background: #00FFFF;
	border-radius: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

#dropdownMenuButton {
    background: #FF7034;
    border-color: #FF7034;
    border-top: 20px;
    color: black;  
}

@media only screen and (max-width: 991px) { 
    #dropdownMenuButton {
        text-align: left;        
        padding-left: 0px;
    }
} 
/* 
@media only screen and (min-width: 992px) { 
    #dropdownMenuButton {     
        position: absolute;
        bottom: 1px;
    }
} */

/* styling for background of galleries and carousels */

.gallery-background, .carousel-background {    
    background: #00FFFF;
    border-radius: 8px;
    padding: 20px;
}

/* sytling for modals*/

.modal-content {	
    border: 2px solid #ccc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    background: linear-gradient(#00FFFF, #ccfff2);
    background: -moz-linear-gradient(#00FFFF, #ccfff2);
    background: -webkit-linear-gradient(#00FFFF, #ccfff2);
    background: -o-linear-gradient(#00FFFF, #ccfff2);
}

.modal-header {
    border-bottom: 2px solid #0080ff;
}

/* styling for Previous and Next buttons at bottom of galleries */

.previousBtn {
    float: left;
    background: #00FFFF;
    border: 2px solid #ccc;
    border-radius: 10px;        
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
}

.previousBtnS2023 {
  font-family: 'Merriweather', 'Georgia';
}

.nextBtn {
    float: right;
    background: #00FFFF;
    border: 2px solid #ccc;
    border-radius: 10px;        
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;    
}

.nextBtnS2023 {
  font-family: 'Merriweather', 'Georgia';
}

/* styling for right and left arrows in weddingGAGII.html */ 

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF7034' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

   .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF7034' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;     
}

/* styling for songsGAGIV.html and sketches.html*/

#gagivBody { 
  background: #00FFFF;
  padding: 20px;
  cursor: pointer;
}

#gagivBody2 { 
  background: #00FFFF;
  padding: 20px;
  cursor: none;
}

#book {
  width:80vw;
  /* height:40vh; see media queries below */
  /* outline:2px solid red; */
  position:absolute;
  left:10vw;
  top: 20vh;
  perspective:75vw;
}

.page {
  width:50%;
  height:100%;
  position:absolute;
  left:50%;
  top:0;
  transition:z-index .01s linear 1s, transform 2s linear;
  transform-origin:0% 50%;
  z-index:13;
}

#page13 {
  transform-origin:-1% 50% !important;
}

.front, .back {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  transition:opacity .1s linear 1s;
}

.front {
  opacity:1;
}
.back {
  transform:scaleX(-1);
}

.front img ,.back img {
  padding-bottom: 20px;
}

input {
  visibility:hidden;
}

label {
  width:100%;
  height:100%;
  z-index:99;
  position:absolute;
  left:0;
  top:0;
  margin:0;
  padding:0;
/*   pointer-events:none; */
/*   visibility:hidden; */
/*   background:red; */
}

input:checked + .page {
  transform:rotateY(-180deg); 
}

input:checked + .page .front {
  opacity:0;  
}
input:checked + .page .back {
  opacity:1;  
}

#thirteen:checked + .page {
    z-index:13;
  }
#twelve:checked + .page {
    z-index:12;
  }
#eleven:checked + .page {
    z-index:11;
  }
#ten:checked + .page {
    z-index:10;
  }
#nine:checked + .page {
    z-index:9;
  }
#eight:checked + .page {
    z-index:8;
  }
#seven:checked + .page {
    z-index:7;
  }
#six:checked + .page {
    z-index:6;
  }
#five:checked + .page {
  z-index:5;
}
#four:checked + .page {
  z-index:4;
}
#three:checked + .page {
  z-index:3;
}
#two:checked + .page {
  z-index:2;
}
#one:checked + .page {
  z-index:1;
}

@media only screen and (max-width: 399.9px) {
  .bookG {
    height:24vh;
  }
} 
@media only screen and (min-width: 400px) {
  .bookG {
    height:25vh;
  }
} 
@media only screen and (min-width: 415px) {
  .bookG {
    height:26vh;
  }
} 
@media only screen and (min-width: 430px) {
  .bookG {
    height:27vh;
  }
} 
@media only screen and (min-width: 445px) {
  .bookG {
    height:28vh;
  }
} 
@media only screen and (min-width: 460px) {
  .bookG {
    height:29vh;
  }
} 
@media only screen and (min-width: 475px) {
  .bookG {
    height:30vh;
  }
}
@media only screen and (min-width: 490px) {
  .bookG {
    height:31vh;
  }
}
@media only screen and (min-width: 505px) {
  .bookG {
    height:32vh;
  }
} 
@media only screen and (min-width: 520px) {
  .bookG {
    height:33vh;
  }
}
@media only screen and (min-width: 535px) {
  .bookG {
    height:34vh;
  }
}
@media only screen and (min-width: 550px) {
  .bookG {
    height:35vh;
  }
} 
@media only screen and (min-width: 565px) {
  .bookG {
    height:36vh;
  }
}
@media only screen and (min-width: 580px) {
  .bookG {
    height:37vh;
  }
}
@media only screen and (min-width: 600px) {
  .bookG {
    height:38vh;
  }
}
@media only screen and (min-width: 620px) {
  .bookG {
    height:39vh;
  }
}
@media only screen and (min-width: 640px) {
  .bookG {
    height:40vh;
  }
}
@media only screen and (min-width: 660px) {
  .bookG {
    height:41vh;
  }
} 
@media only screen and (min-width: 680px) {
  .bookG {
    height:42vh;
  }
}
@media only screen and (min-width: 700px) {
  .bookG {
    height:44vh;
  }
}
@media only screen and (min-width: 720px) {
  .bookG {
    height:45vh;
  }
} 
@media only screen and (min-width: 740px) {
  .bookG {
    height:46vh;
  }
} 
@media only screen and (min-width: 760px) {
  .bookG {
    height:47vh;
  }
} 
@media only screen and (min-width: 780px) {
  .bookG {
    height:48vh;
  }
}
@media only screen and (min-width: 800px) {
  .bookG {
    height:50vh;
  }
} 
@media only screen and (min-width: 825px) {
  .bookG {
    height:51vh;
  }
} 
@media only screen and (min-width: 850px) {
  .bookG {
    height:52vh;
  }
} 
@media only screen and (min-width: 875px) {
  .bookG {
    height:53vh;
  }
} 
@media only screen and (min-width: 900px) {
  .bookG {
    height:56vh;
  }
}
@media only screen and (min-width: 920px) {
  .bookG {
    height:57vh;
  }
}
@media only screen and (min-width: 940px) {
  .bookG {
    height:58vh;
  }
}
@media only screen and (min-width: 960px) {
  .bookG {
    height:59vh;
  }
}
@media only screen and (min-width: 980px) {
  .bookG {
    height:60vh;
  }
}
@media only screen and (min-width: 1000px) {
  .bookG {
    height:63vh;
  }
}
@media only screen and (min-width: 1025px) {
  .bookG {
    height:66vh;
  }
}
@media only screen and (min-width: 1100px) {
  .bookG {
    height:69vh;
  }
}
@media only screen and (min-width: 1150px) {
  .bookG {
    height:72vh;
  }
}
@media only screen and (min-width: 1200px) {
  .bookG {
    height:75vh;
  }
}
@media only screen and (min-width: 1250px) {
  .bookG {
    height:78vh;
  }
}
@media only screen and (min-width: 1300px) {
  .bookG {
    height:81vh;
  }
}
@media only screen and (min-width: 1350px) {
  .bookG {
    height:84vh;
  }
}
@media only screen and (min-width: 1400px) {
  .bookG {
    height:88vh;
  }
}


@media only screen and (max-width: 399.9px) {
  .bookS {
    height: 205px;
  }
} 
@media only screen and (min-width: 400px) {
  .bookS {
    height: 260px;
  }
}
@media only screen and (min-width: 500px) {
  .bookS {
    height: 315px;
  }
}
@media only screen and (min-width: 600px) {
  .bookS {
    height: 370px;
  }
}
@media only screen and (min-width: 700px) {
  .bookS {
    height: 425px;
  }
}
@media only screen and (min-width: 800px) {
  .bookS {
    height: 480px;
  }
}
@media only screen and (min-width: 900px) {
  .bookS {
    height: 535px;
  }
}
@media only screen and (min-width: 1000px) {
  .bookS {
    height: 590px;
  }
}
@media only screen and (min-width: 1100px) {
  .bookS {
    height: 645px;
  }
}
@media only screen and (min-width: 1200px) {
  .bookS {
    height: 700px;
  }
}
@media only screen and (min-width: 1300px) {
  .bookS {
    height: 755px;
  }
}
@media only screen and (min-width: 1400px) {
  .bookS {
    height: 810px;
  }
}
@media only screen and (min-width: 1500px) {
  .bookS {
    height: 865px;
  }
}
@media only screen and (min-width: 1600px) {
  .bookS {
    height: 920px;
  }
}
@media only screen and (min-width: 1700px) {
  .bookS {
    height: 975px;
  }
}
@media only screen and (min-width: 1800px) {
  .bookS {
    height: 1030px;
  }
}
@media only screen and (min-width: 1900px) {
  .bookS {
    height: 1085px;
  }
}
@media only screen and (min-width: 2000px) {
  .bookS {
    height: 1140px;
  }
}

.JJJ a {
  color: black;
  text-decoration: none;
} 

/*styling for weddingGAGII.html*/

@media only screen and (max-width: 576px) {
  .carousel-item > p  {font-size: 85%}
}

@media only screen and (max-width: 767px) {	
	.weddingText {
		font-size: 85%;
}
}

.demo {
  display: none;
}





